body {
    background-color: #d8d174;
    mix-blend-mode: darken;
}
 
header h1 {
    margin-top: 10%;
    text-align: center;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
}

h3{
    text-align: center;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
}
h3 a {
    text-decoration: none;
    cursor: pointer;
}
 
table {
    margin: auto;
    width: max-content;
    border: 1px solid black;
    height: 300px;

}
 
td {
    text-align: center;
    border: 1px solid black;
}

 
#sub {
    color: black;
    font-family: sans-serif;
    font-weight: 400;
    background-color: #ffffff;
}
 
#box3 {
    color: darkviolet;
    font-weight: 800;
    font-family: sans-serif;
}
 
#box4 {
    color: green;
    font-weight: 800;
    font-family: sans-serif;
}
 
#box5 {
    color: red;
    font-family: sans-serif;
    font-weight: 800;
}
 
#box7 {
    color: blue;
    font-family: sans-serif;
    font-weight: 800;
}

footer{
    text-align: center;
    color: #8cba80;
    font-family: sans-serif;
}
